NODE_ENV=development
API_PORT=4000
API_PREFIX=api/v1
APP_TIMEZONE=America/Tijuana
APP_ORIGIN=http://localhost:3000
FORCE_HTTPS=false

DATABASE_URL=postgresql://burger:burger_local@localhost:5432/burger_danlin?schema=public
POSTGRES_DB=burger_danlin
POSTGRES_USER=burger
POSTGRES_PASSWORD=burger_local

REDIS_URL=redis://localhost:6379
MAIL_HOST=localhost
MAIL_PORT=1025

PAYMENT_PROVIDER=mock
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
QR_TOKEN_SECRET=change-me-in-production

AUTH_JWT_SECRET=
MFA_ENCRYPTION_KEY=
ADMIN_SEED_EMAIL=
ADMIN_SEED_PASSWORD=
ADMIN_SEED_NAME=Administrador

