[Unit]
Description=Schedule hourly Burger Danlin encrypted offsite backups

[Timer]
OnCalendar=*-*-* *:17:00
Persistent=true
Unit=burger-danlin-backup.service

[Install]
WantedBy=timers.target
